---
import { Image } from "astro:assets";

interface Props {
  path: string;
  name: string;
  note: string;
  icon: string;
  width: number;
  height: number;
}

const baseUrl = import.meta.env.BASE_URL;

const { path, width, height, name, note, icon } = Astro.props;
---

<div
  class="image-card bg-black/20 backdrop-blur-sm rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow"
  data-path={path}
  data-note={note}
  data-icon={icon}
>
  <div class="relative" style={`aspect-ratio: ${width} / ${height};`}>
    <Image
      src={`${baseUrl}/${path}`.replace("//", "/")}
      width={width}
      height={height}
      alt={name}
      title={`${name} | ${note}`}
      class="w-full h-full object-contain cursor-pointer absolute inset-0"
      loading="lazy"
    />
  </div>
  <div class="p-4">
    <h3 class="text-lg text-white mb-2">
      {
        icon && (
          <Image
            src={`${baseUrl}/${icon}`.replace("//", "/")}
            width={32}
            height={32}
            alt={name}
            class="w-8 h-8 inline mr-2"
            loading="lazy"
          />
        )
      }{name}
    </h3>
    {note && <p class="text-lg text-gray-300 mt-1 mb-1 px-4">{note}</p>}
  </div>
</div>
