---
import { Image } from "astro:assets";
import { thumbHashToDataURL } from "thumbhash";

interface Props {
  path: string;
  width: number;
  height: number;
  placeholder: string;
  name: string;
  note: string;
  icon: string;
  video: string;
}

const baseUrl = import.meta.env.BASE_URL;

const { path, width, height, placeholder, name, note, icon, video } =
  Astro.props;

const dataPlaceholder = thumbHashToDataURL(
  Uint8Array.from(atob(placeholder), (c) => c.charCodeAt(0))
);
---

<div
  class="image-card bg-black/20 backdrop-blur-sm rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow"
  data-path={path}
  data-note={note}
  data-icon={icon}
  data-video={video}
>
  <div class="relative" style={`aspect-ratio: ${width} / ${height};`}>
    <img
      src={dataPlaceholder}
      width={width}
      height={height}
      alt={name}
      class="absolute inset-0 w-full h-full object-cover z-0 blur-lg"
    />
    <img
      src={`${baseUrl}/${path}`.replace("//", "/")}
      width={width}
      height={height}
      alt={name}
      title={`${name} | ${note}`}
      class="w-full h-full object-contain cursor-pointer absolute inset-0 opacity-0 transition-opacity duration-1200"
      loading="lazy"
      onload="this.style.opacity=1"
    />
  </div>
  <div class="p-4">
    <h3 class="text-lg text-white mb-2 md:text-base sm:text-sm">
      {
        icon && (
          <Image
            src={`${baseUrl}/${icon}`.replace("//", "/")}
            width={32}
            height={32}
            alt={name}
            class="heartbeat w-8 h-8 inline mr-2"
            loading="lazy"
          />
        )
      }{name}
    </h3>
    {
      note && (
        <p class="text-base text-gray-300 mt-1 mb-1 px-4 md:text-sm sm:text-xs">
          {note}
        </p>
      )
    }
  </div>
</div>
