---
interface Props {
  path: string;
  name: string;
  note: string;
  icon: string;
}

const baseUrl = import.meta.env.BASE_URL;

const { path, name, note, icon } = Astro.props;
---

<div
  class="image-card bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow"
  data-path={path}
  data-note={note}
  data-icon={icon}
>
  <img
    src={`${baseUrl}/${path}`.replace("//", "/")}
    alt={name}
    title={`${name} | ${note}`}
    class="w-full h-144 object-cover cursor-pointer"
    loading="lazy"
  />
  <div class="p-4">
    <h3 class="text-lg text-white mb-2">
      {
        icon && (
          <img
            src={`${baseUrl}/${icon}`.replace("//", "/")}
            alt={name}
            class="w-6 h-6 inline mr-2"
            loading="lazy"
          />
        )
      }{name}
    </h3>
    {note && <p class="text-gray-300 text-s">{note}</p>}
  </div>
</div>
